#genreFiltersWrapper {
    overflow-x: auto;
    padding-bottom: 1rem;
}

#genreFilters {
    display: flex;
    margin: 0 1rem;
    gap: 1rem;
}

#genreFilters .sectionTitle {
    padding: 1rem 0;
}

#genreFilters, #yearFilter {
    border: none;
}

#genreFilters label {
    border: 2px solid rgba(55, 55, 100, 0.5);
    display: flex;
    padding: 0.3rem 0.7rem;
    border-radius: 10px;
    width: 6rem;
    justify-content: center;
    cursor: pointer;
}

.genre {
    padding: 0 0.2rem;
    color: rgb(193, 193, 193);
}

.genreContainer input:focus-visible {
    outline: 2px solid purple;
}

input[type="checkbox"]:checked {
    border-left: 5px solid blue;
}

label input {
    appearance: none;
}

#yearFilter {
    display: flex;
    justify-content: space-around;
}

#fromYearDiv label, #toYearDiv label {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

#fromYearDiv, #toYearDiv {
    margin: 0.5rem;
    color: rgb(193, 193, 193);
    background-color: rgb(0, 0, 20);
    border-radius: 5px;
}

#fromYear, #toYear {
    background-color: rgb(190, 190, 190);
}

@media (min-width: 700px) {
    #genreFiltersWrapper {
        overflow: hidden;
    }

    #fromYearDiv label, #toYearDiv label {
        font-size: 1.3rem;
    }

    .genre {
        font-size: 1.3rem;
        padding: 0 0.5rem;
    }

    .genreContainer {
        background-color: rgb(0, 2, 30);
    }

    
    #genreFilters .sectionTitle {
        padding: 1.5rem 0.5rem;
    }
}

@media (min-width: 992px) {
    #fromYearDiv label, #toYearDiv label {
        font-size: 1.5rem;
    }

    #fromYearDiv input, #toYearDiv input {
        line-height: 1.5rem;
    }
}