#tmdbLogo {
    margin: 2rem;
    height: 1.5rem;
}

.disclaimer {
    color: rgb(205, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media (min-width: 700px) {
    #tmdbLogo {
        height: 2rem;
    }

    .disclaimer {
        font-size: 1.3rem;
    }
}