.moviePageMainContent {
  text-align: center;
}

.mainMovieWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieImage {
  border-radius: 20px;
  border: 1px solid rgb(55, 55, 100);
  margin: 0.5rem 0;
  width: 33%;
  object-fit: contain;
}

.moviePageRow {
  gap: 1rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.movieStatusNotReleased {
  color: rgb(255, 30, 30);
  font-weight: 700;
}

.starRatingContainer {
  display: flex;
}

.movieTitle {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.greyText {
  color: rgb(130, 130, 130);
}

.movieOverview {
  margin: 1rem;
  line-height: 1.5;
}

.starIcon {
  width: 1rem;
}

.tagline {
  font-size: 1.3rem;
  color: rgb(142, 122, 237);
  font-weight: bold;
  margin-top: 2rem;
}

@media (min-width: 700px) {
  .moviePageMainContent {
    font-size: 1.3rem;
  }

  .mainMovieWrapper {
    flex-direction: row;
  }

  .movieTitle {
    font-size: 1.7rem;
  }

  .movieOverview {
    margin: 1rem 3rem 3rem 3rem;
    text-align: start;
  }

  .movieImage {
    margin-left: 3rem;
    width: 25%;
  }
  
  .tagline {
    font-size: 1.7rem;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .movieImage {
    width: 20%;
  }

  .tagline {
    font-size: 2.3rem;
  }
}